# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.pytest_cache/
.coverage
htmlcov/

# Environment
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
